.header__navbar {
  grid-column: 2 / 4;
}

.header__nav ul {
  display: flex;
}

.header__nav__link {
  padding: 16px 44px 20px 16px;
  display: flex;
  align-items: flex-start;
}

.header__nav__link:hover, .header__nav__elem:hover .header__nav__link {
  border-bottom: 4px solid rgba(250, 77, 77, 0.9);

}

.header__nav__link:hover  + menu, menu:hover {
  display: flex;
}

.header__nav__svg {
  position: relative;
}

.header__nav__link svg {
  fill: white;
  position: absolute;
  top: -2px;
  left: 4px;
}

.header__nav__elem {
  position: relative;
}

.header__nav__menu {
  background-color: white;
  color: #2d2e2f;
  position: absolute;
  top: 46px;
  z-index: 5;
  padding: 20px 12px;
  display: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu__col__left {
  padding-right: 4px;
}

.menu__col__left {
  padding-left: 4px;
}

.menu__item__container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
}

.menu__item__container:hover {
  background-color: #ebebeb;
}

.menu__item__svg {
  display: flex;
  align-items: center;
  fill: #2d2e2f;
}

.menu__item__cat {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 24px;
  font-weight: 600;

}


/* .menu-visible {
  display: flex;
} */
